@media screen and (max-width: 3000px) {
  .first-line {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1010px) {
  .leftsection {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 870px) {
  .firstsection {
    flex-direction: column-reverse;
    margin: 20vh 0;
  }
  .rightsection img {
    margin-bottom: 10vh;
  }
  .outer h2 {
    font-size: 2rem;
  }
  .leftsection {
    font-size: 1.4rem;
  }
  .firstsection > div {
    width: 48%;
  }
  nav {
    height: 5vh;
    padding: 10px;
  }
  nav ul {
    display: none;
  }
  nav ul.show {
    flex-direction: column;
    position: absolute;
    background-color: green;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  nav ul li {
    margin: 10px 0;
  }
  nav img {
    display: inline-block;
  }
  .outer {
    display: flex;
    flex-direction: column;
    height: 40vh;
  }
}

@media screen and (max-width: 700px) {
  .secondsection center {
    font-size: 0.7rem;
  }
  .left {
    font-size: 1.2rem;
  }
  nav img {
    height: 25px;
  }
}

@media screen and (max-width: 500px) {
  .footer-link {
    font-size: 1.1rem;
  }
  .rightsection img {
    width: 45vw;
  }
  .secondsection center {
    font-size: 0.8rem;
  }
}
